In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('./data/movies.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.shape

(9125, 3)

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [6]:
movies.genres.unique()

array(['Adventure|Animation|Children|Comedy|Fantasy',
       'Adventure|Children|Fantasy', 'Comedy|Romance',
       'Comedy|Drama|Romance', 'Comedy', 'Action|Crime|Thriller',
       'Adventure|Children', 'Action', 'Action|Adventure|Thriller',
       'Comedy|Horror', 'Adventure|Animation|Children', 'Drama',
       'Action|Adventure|Romance', 'Crime|Drama', 'Drama|Romance',
       'Action|Comedy|Crime|Drama|Thriller', 'Comedy|Crime|Thriller',
       'Crime|Drama|Horror|Mystery|Thriller', 'Drama|Sci-Fi',
       'Children|Drama', 'Adventure|Drama|Fantasy|Mystery|Sci-Fi',
       'Mystery|Sci-Fi|Thriller', 'Documentary|IMAX', 'Children|Comedy',
       'Drama|War', 'Action|Crime|Drama', 'Action|Adventure|Fantasy',
       'Comedy|Drama|Thriller', 'Mystery|Thriller',
       'Animation|Children|Drama|Musical|Romance',
       'Crime|Mystery|Thriller', 'Adventure|Drama', 'Drama|Mystery',
       'Drama|Thriller', 'Comedy|Crime', 'Action|Sci-Fi|Thriller',
       'Action|Comedy|Horror|Thriller', 'Comedy|Drama', 'Documentary',
       'Action|Crime|Drama|Thriller', 'Crime|Drama|Romance',
       'Action|Adventure|Drama', 'Action|Thriller',
       'Drama|Horror|Thriller', 'Comedy|Horror|Romance',
       'Adventure|Comedy|Crime|Romance',
       'Adventure|Children|Comedy|Musical', 'Action|Drama|War',
       'Crime|Drama|Thriller', 'Action|Adventure|Comedy|Crime',
       'Drama|Mystery|Romance', 'Thriller', 'Adventure|Drama|IMAX',
       'Action|Drama|Romance|War', 'Drama|Horror', 'Adventure|Drama|War',
       'Comedy|War', 'Crime|Drama|Mystery',
       'Action|Adventure|Mystery|Sci-Fi', 'Drama|Thriller|War',
       'Action|Romance|Western', 'Crime|Film-Noir|Mystery|Thriller',
       'Comedy|Crime|Drama', 'Action|Drama|Romance',
       'Adventure|Children|Drama', 'Action|Adventure|Crime|Thriller',
       'Action|Crime|Sci-Fi', 'Horror', 'Action|Children',
       'Comedy|Horror|Thriller', 'Fantasy|Horror|Mystery',
       'Comedy|Fantasy', 'Horror|Sci-Fi',
       'Action|Crime|Drama|Mystery|Sci-Fi|Thriller',
       'Drama|Musical|Romance', 'Drama|Fantasy',
       'Action|Adventure|Sci-Fi', 'Adventure|Comedy',
       'Action|Comedy|Romance', 'Animation|Children|Comedy|Romance',
       'Drama|Musical', 'Children|Comedy|Fantasy', 'Animation|Children',
       'Comedy|Sci-Fi', 'Adventure|Children|Comedy|Fantasy|Romance',
       'Drama|Fantasy|Romance', 'Drama|Romance|War|Western',
       'Drama|Horror|Sci-Fi', 'Action|Drama|Sci-Fi|Thriller',
       'Comedy|Crime|Drama|Thriller', 'Action|Thriller|Western',
       'Children|Drama|Fantasy|Mystery', 'Action|Drama|Thriller',
       'Comedy|Drama|Fantasy', 'Film-Noir|Thriller',
       'Action|Comedy|Sci-Fi', 'Horror|Thriller',
       'Adventure|Drama|Sci-Fi', 'Action|Crime|Horror', 'Children',
       'Drama|Film-Noir|Romance', 'Drama|Mystery|Thriller',
       'Action|Crime|Fantasy|Thriller', 'Comedy|Drama|Romance|War',
       'Action|Comedy', 'Adventure|Children|Romance',
       'Adventure|Animation|Children|Drama|Musical|IMAX',
       'Drama|Horror|Mystery|Thriller', 'Action|Comedy|Crime|Fantasy',
       'Adventure|Comedy|Western', 'Action|Romance|Thriller',
       'Action|Adventure|Comedy|Romance|Thriller',
       'Drama|Horror|Romance|Thriller', 'Western', 'Drama|Romance|War',
       'Adventure|Animation', 'Action|Fantasy', 'Comedy|Thriller',
       'Action|Comedy|Crime|Thriller', 'Horror|Sci-Fi|Thriller',
       'Drama|Mystery|Romance|Thriller', 'Action|Comedy|Drama',
       'Adventure|Documentary', 'Drama|Western',
       'Action|Adventure|Crime|Drama|Romance|Thriller',
       'Action|Comedy|War', 'Action|Adventure|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Fantasy', 'Comedy|Western',
       'Comedy|Mystery', 'Comedy|Drama|Romance|Thriller',
       'Action|Children|Romance', 'Action|Drama|Sci-Fi', 'Action|Drama',
       'Comedy|Mystery|Romance', 'Action|Drama|Mystery',
       'Action|Crime|Drama|Sci-Fi|Thriller', 'Crime|Thriller',
       'Comedy|Crime|Horror', 'Action|Adventure|Fantasy|Mystery',
       'Comedy|Romance|Thriller', 'Action|Crime',
       'Action|Adventure|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Mystery|Thriller', 'Animation|Children|Fantasy|Musical',
       'Action|Adventure|Comedy|Romance', 'Action|Drama|Western',
       'Action|Adventure|Animation|Children|Fantasy',
       'Comedy|Drama|Fantasy|Romance|Thriller',
       'Adventure|Animation|Children|Comedy|Musical', 'Action|Sci-Fi',
       'Adventure|Drama|Western', 'Crime|Horror|Thriller',
       'Animation|Children|Drama|Fantasy|Musical',
       'Animation|Children|Fantasy|Musical|Romance|IMAX',
       'Adventure|Western', 'Action|Comedy|Crime', 'Fantasy|Horror',
       'Action|Adventure|Animation|Horror|Sci-Fi', 'Action|Horror|Sci-Fi',
       'Crime|Drama|Mystery|Thriller',
       'Adventure|Animation|Children|Fantasy|Musical|Romance', 'Romance',
       'Action|Crime|Drama|War', 'Action|Adventure|Mystery|Thriller',
       'Adventure|Animation|Children|Fantasy|Musical', 'Comedy|Drama|War',
       'Adventure|Animation|Children|Comedy|Fantasy|Sci-Fi',
       'Adventure|Comedy|Sci-Fi', 'Drama|Mystery|Romance|Sci-Fi|Thriller',
       'Crime', 'Action|Adventure|Comedy|War', 'Action|Adventure',
       'Drama|Mystery|Western', 'Comedy|Fantasy|Sci-Fi',
       'Adventure|Animation|Comedy', 'Drama|Fantasy|Horror|Thriller',
       'Action|Adventure|Romance|Thriller', 'Animation|Sci-Fi',
       'Animation|Children|Comedy', 'Film-Noir', 'Horror|Mystery',
       'Comedy|Fantasy|Romance|Sci-Fi', 'Action|Adventure|Drama|Thriller',
       'Comedy|Fantasy|Musical', 'Crime|Drama|Romance|Thriller',
       'Crime|Drama|Musical|Thriller', 'Sci-Fi|Thriller',
       'Children|Drama|Fantasy', 'Adventure|Animation|Children|Musical',
       'Adventure|Drama|Romance|War', 'Comedy|Musical|Romance',
       'Musical|Romance', 'Comedy|Musical',
       'Action|Adventure|Mystery|Romance|Thriller',
       'Comedy|Crime|Mystery|Romance|Thriller', 'Film-Noir|Mystery',
       'Comedy|Drama|Musical|Romance', 'Musical',
       'Adventure|Children|Fantasy|Musical',
       'Drama|Film-Noir|Mystery|Thriller', 'Film-Noir|Romance|Thriller',
       'Mystery|Romance|Thriller', 'Crime|Mystery|Romance|Thriller',
       'Adventure', 'Crime|Film-Noir|Mystery', 'Drama|Romance|Western',
       'Children|Drama|Fantasy|Romance', 'Romance|Western',
       'Adventure|Comedy|Romance|War',
       'Adventure|Comedy|Crime|Drama|Romance', 'Romance|War',
       'Crime|Film-Noir', 'Children|Comedy|Western',
       'Children|Comedy|Fantasy|Romance', 'Children|Comedy|Romance',
       'Children|Comedy|Drama', 'Children|Comedy|Mystery',
       'Animation|Children|Fantasy|Musical|Romance',
       'Animation|Children|Musical', 'Children|Comedy|Fantasy|Musical',
       'Animation|Children|Drama|Musical', 'Adventure|Children|Musical',
       'Animation|Children|Drama', 'Action|Horror|Sci-Fi|Thriller',
       'Documentary|Drama',
       'Animation|Children|Comedy|Fantasy|Musical|Romance',
       'Crime|Film-Noir|Thriller', 'Drama|Romance|Thriller',
       'Children|Drama|Sci-Fi', 'Action|Romance',
       'Adventure|Comedy|Fantasy', 'Animation|Children|Comedy|Crime',
       'Animation|Comedy|Drama|Fantasy', 'Action|Adventure|Horror',
       'Crime|Drama|Film-Noir', 'Documentary|Musical',
       'Action|Adventure|Comedy|Fantasy|Romance', 'Fantasy|Sci-Fi',
       'Action|Adventure|Horror|Sci-Fi', 'Action|Adventure|Western',
       'Crime|Drama|Sci-Fi|Thriller', 'Film-Noir|Mystery|Thriller',
       'Action|Adventure|Comedy|Fantasy|Horror',
       'Adventure|Drama|Romance', 'Crime|Horror', 'Action|Comedy|Musical',
       'Adventure|Animation|Children|Comedy|Sci-Fi',
       'Drama|Mystery|Sci-Fi', 'Comedy|Fantasy|Horror',
       'Crime|Drama|Film-Noir|Thriller', 'Action|Crime|Romance|Thriller',
       'Drama|Sci-Fi|Thriller', 'Action|Adventure|Drama|Western',
       'Comedy|Horror|Sci-Fi', 'Comedy|Musical|War',
       'Action|Comedy|Fantasy|Horror', 'Action|Adventure|Drama|War',
       'Action|Drama|Mystery|Romance|Thriller', 'Comedy|Fantasy|Romance',
       'Crime|Thriller|War', 'Comedy|Mystery|Thriller',
       'Comedy|Drama|Film-Noir', 'Action|Adventure|Animation|Sci-Fi',
       'Action|Western', 'Fantasy|Horror|Romance|Thriller',
       'Drama|Fantasy|Horror', 'Horror|Mystery|Thriller',
       'Adventure|Children|Comedy', 'Adventure|Sci-Fi',
       'Action|Mystery|Sci-Fi', 'Action|Comedy|Western', 'Action|Horror',
       'Action|Comedy|Crime|Drama|Sci-Fi',
       'Adventure|Animation|Comedy|Crime',
       'Comedy|Horror|Mystery|Thriller', 'Action|Romance|War|Western',
       'Comedy|Drama|Fantasy|Romance', 'Action|Adventure|Comedy|Thriller',
       'War', 'Crime|Drama|Fantasy|Film-Noir|Mystery|Romance',
       'Action|Comedy|Crime|Drama', 'Action|Romance|Sci-Fi|Thriller',
       'Comedy|Drama|Mystery|Romance', 'Action|Adventure|Children',
       'Comedy|Crime|Romance', 'Action|Adventure|Comedy',
       'Action|Crime|Romance', 'Action|Adventure|Children|Fantasy',
       'Action|Adventure|Comedy|Sci-Fi',
       'Action|Adventure|Fantasy|Thriller', 'Children|Fantasy',
       'Adventure|Romance', 'Action|Thriller|War',
       'Children|Comedy|Romance|Sci-Fi', 'Comedy|Documentary',
       'Romance|Thriller', 'Comedy|Drama|Sci-Fi',
       'Adventure|Animation|Children|Drama|Musical',
       'Action|Adventure|Drama|Sci-Fi', 'Action|Children|Comedy',
       'Adventure|Film-Noir|Sci-Fi|Thriller',
       'Adventure|Children|Fantasy|Sci-Fi',
       'Crime|Drama|Fantasy|Thriller',
       'Crime|Drama|Mystery|Romance|Thriller',
       'Comedy|Crime|Drama|Mystery|Thriller',
       'Adventure|Children|Comedy|Fantasy', 'Crime|Drama|Romance|War',
       'Adventure|Comedy|Drama', 'Adventure|Comedy|Romance',
       'Adventure|Animation|Children|Comedy|Drama|Musical|Romance',
       'Action|Crime|Mystery|Sci-Fi|Thriller',
       'Comedy|Crime|Drama|Romance|Thriller',
       'Animation|Children|Fantasy|War', 'Comedy|Drama|Musical',
       'Adventure|Fantasy|Musical',
       'Action|Adventure|Children|Comedy|Fantasy',
       'Drama|Mystery|Sci-Fi|Thriller', 'Adventure|Comedy|Sci-Fi|Western',
       'Children|Fantasy|Musical', 'Adventure|Animation|Children|Fantasy',
       'Children|Sci-Fi', 'Children|Comedy|Sci-Fi',
       'Action|Adventure|Children|Comedy',
       'Adventure|Children|Drama|Romance', 'Adventure|Children|Sci-Fi',
       'Action|Animation|Children|Crime',
       'Children|Comedy|Fantasy|Horror',
       'Adventure|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Crime|Drama|Mystery|Thriller', 'Drama|Fantasy|Mystery',
       'Animation|Children|Comedy|Musical',
       'Animation|Children|Comedy|Musical|Romance',
       'Children|Comedy|Musical', 'Children|Musical',
       'Adventure|Comedy|Musical',
       'Adventure|Animation|Children|Crime|Drama',
       'Children|Drama|Fantasy|Mystery|Thriller',
       'Adventure|Children|Fantasy|Western',
       'Animation|Children|Comedy|Drama|Fantasy',
       'Action|Crime|Mystery|Thriller',
       'Adventure|Animation|Children|Drama|Fantasy',
       'Adventure|Animation|Children|Drama', 'Adventure|Fantasy',
       'Adventure|Animation|Children|Comedy',
       'Adventure|Animation|Children|Musical|Western',
       'Adventure|Fantasy|Romance', 'Adventure|Drama|Fantasy',
       'Action|Comedy|Drama|Horror', 'Action|Horror|Thriller',
       'Adventure|Fantasy|Sci-Fi', 'Drama|Film-Noir|Thriller',
       'Adventure|Drama|Mystery|Thriller',
       'Animation|Comedy|Fantasy|Sci-Fi',
       'Horror|Mystery|Sci-Fi|Thriller', 'Drama|Fantasy|Thriller',
       'Adventure|Drama|Fantasy|Romance', 'Sci-Fi',
       'Drama|Fantasy|Mystery|Romance', 'Action|Sci-Fi|War',
       'Fantasy|Horror|Thriller', 'Horror|Western',
       'Action|Adventure|Fantasy|Horror',
       'Adventure|Fantasy|Romance|Sci-Fi|Thriller',
       'Comedy|Crime|Mystery', 'Action|Drama|Romance|Sci-Fi',
       'Animation|Musical', 'Action|Adventure|Thriller|War',
       'Comedy|Crime|Mystery|Thriller',
       'Action|Adventure|Children|Fantasy|Mystery|Thriller',
       'Action|Adventure|Children|Drama',
       'Action|Adventure|Drama|Fantasy|Thriller', 'Horror|Mystery|Sci-Fi',
       'Drama|Horror|Sci-Fi|Thriller', 'Action|Comedy|Romance|Thriller',
       'Action|War', 'Adventure|Comedy|Thriller',
       'Action|Sci-Fi|Thriller|Western', 'Drama|Romance|Sci-Fi|Thriller',
       'Drama|Film-Noir',
       'Action|Adventure|Comedy|Fantasy|Horror|Thriller',
       'Action|Adventure|Crime|Sci-Fi|Thriller',
       'Comedy|Film-Noir|Thriller', 'Horror|Romance',
       'Comedy|Horror|Musical|Sci-Fi', 'Comedy|Romance|Sci-Fi',
       'Animation|Comedy|Musical', 'Action|Comedy|Sci-Fi|Western',
       'Action|Comedy|Fantasy', 'Adventure|Drama|Thriller',
       'Action|Adventure|Comedy|Fantasy|Mystery', 'Comedy|Horror|Musical',
       'Adventure|Animation|Children|Drama|Sci-Fi',
       'Drama|Horror|Mystery', 'Action|Mystery',
       'Comedy|Horror|Romance|Thriller', 'Action|Drama|Romance|Thriller',
       'Animation|Horror|Mystery|Thriller',
       'Adventure|Children|Comedy|Drama', 'Adventure|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Fantasy|Musical',
       'Animation|Children|Fantasy', 'Action|Adventure|Comedy|Drama|War',
       'Crime|Drama|Western', 'Drama|Film-Noir|Mystery|Romance',
       'Musical|Romance|War', 'Mystery',
       'Adventure|Comedy|Fantasy|Sci-Fi', 'Drama|Fantasy|Musical',
       'Action|Crime|Sci-Fi|Thriller',
       'Adventure|Animation|Children|Comedy|Crime|Fantasy|Mystery',
       'Action|Adventure|Animation|Drama|Fantasy',
       'Adventure|Animation|Children|Fantasy|Sci-Fi',
       'Fantasy|Horror|Mystery|Romance', 'Crime|Romance|Thriller',
       'Action|Fantasy|Horror|Mystery|Thriller', 'Drama|Romance|Sci-Fi',
       'Animation|Children|Musical|IMAX', 'Action|Comedy|Horror',
       'Action|Crime|Thriller|Western', 'Fantasy|Horror|Mystery|Thriller',
       'Adventure|Crime|Drama|Romance', 'Adventure|Crime|Drama',
       'Animation|Comedy', 'Action|Children|Comedy|Fantasy|Sci-Fi',
       'Action|Children|Fantasy',
       'Action|Adventure|Drama|Thriller|Western',
       'Crime|Horror|Mystery|Thriller', 'Crime|Drama|Musical',
       'Adventure|Children|Fantasy|Musical|Romance',
       'Action|Adventure|Comedy|Western', 'Action|Drama|Thriller|Western',
       'Adventure|Animation|Fantasy|Sci-Fi',
       'Comedy|Horror|Sci-Fi|Thriller', 'Adventure|Drama|Romance|Sci-Fi',
       'Film-Noir|Horror|Mystery|Thriller',
       'Action|Adventure|Animation|Children|Sci-Fi',
       'Action|Fantasy|Horror|Sci-Fi|Thriller',
       'Action|Comedy|Crime|Romance', 'Adventure|Horror|Sci-Fi',
       'Horror|Musical|Thriller', 'Adventure|Animation|Children|Sci-Fi',
       'Adventure|Comedy|Crime', 'Action|Drama|War|Western',
       'Action|Crime|Mystery|Romance|Thriller', 'Romance|Sci-Fi',
       'Action|Crime|Drama|Thriller|Western',
       'Action|Adventure|Fantasy|Sci-Fi', 'Adventure|Comedy|Horror',
       'Animation|Comedy|Fantasy', 'Action|Adventure|War',
       'Action|Crime|Drama|Horror|Thriller', 'Crime|Mystery',
       'Adventure|Comedy|Mystery|Romance',
       'Adventure|Animation|Children|Comedy|Fantasy|Romance',
       'Comedy|Drama|Mystery|Thriller', 'Comedy|Drama|Romance|Western',
       'Adventure|Documentary|IMAX', 'Animation|Drama|Sci-Fi|IMAX',
       'Comedy|Musical|Sci-Fi', 'Drama|Musical|Mystery', 'Crime|Musical',
       'Comedy|Musical|Western',
       'Action|Animation|Comedy|Crime|Drama|Romance|Thriller',
       'Action|Adventure|Drama|Romance',
       'Comedy|Fantasy|Horror|Musical|Thriller',
       'Action|Adventure|Drama|Romance|Thriller',
       'Action|Comedy|Romance|War', 'Action|Adventure|Comedy|Drama',
       'Adventure|Thriller', 'Crime|Drama|Film-Noir|Mystery|Thriller',
       'Animation|Drama|Fantasy', 'Drama|Fantasy|Mystery|Sci-Fi',
       'Drama|Fantasy|Horror|Thriller|War', 'Fantasy|Mystery|Thriller',
       'Action|Adventure|Comedy|Drama|Romance|Thriller',
       'Mystery|Romance|Sci-Fi|Thriller',
       'Adventure|Crime|Drama|Thriller', 'Animation',
       'Comedy|Drama|Mystery',
       'Adventure|Comedy|Crime|Drama|Fantasy|Mystery|Sci-Fi|Thriller',
       'Animation|Fantasy', 'Musical|Sci-Fi',
       'Drama|Fantasy|Horror|Mystery|Thriller',
       'Drama|Fantasy|Mystery|Romance|Thriller',
       'Animation|Fantasy|Horror|Sci-Fi', 'Documentary|War',
       'Musical|Western', 'Action|Adventure|Sci-Fi|IMAX',
       'Crime|Horror|Mystery', 'Adventure|Animation|Children|Western',
       'Adventure|Children|Comedy|Fantasy|Mystery',
       'Adventure|Drama|Horror|Mystery|Thriller',
       'Action|Animation|Children|Comedy', 'Action|Comedy|Horror|Sci-Fi',
       'Comedy|Drama|Fantasy|Sci-Fi', 'Action|Adventure|Fantasy|Romance',
       'Comedy|Crime|Romance|Thriller', 'Adventure|War',
       'Comedy|Crime|Musical|Mystery', 'Adventure|Animation|Fantasy',
       'Animation|Comedy|War', 'Drama|Fantasy|War', 'Animation|Drama|War',
       'Fantasy|Musical|Romance', 'Documentary|Horror',
       'Action|Horror|Mystery|Sci-Fi', 'Action|Comedy|Documentary',
       'Documentary|Drama|Musical',
       'Adventure|Animation|Children|Sci-Fi|IMAX', 'Comedy|Drama|Horror',
       'Animation|Children|Drama|Fantasy', 'Comedy|Crime|Drama|Musical',
       'Action|Adventure|Crime|Drama|Thriller', 'Drama|Film-Noir|Mystery',
       'Comedy|Documentary|Musical', 'Action|Animation|Sci-Fi|Thriller',
       'Adventure|Children|Comedy|Mystery', 'Mystery|Sci-Fi',
       'Adventure|Children|Comedy|Fantasy|Musical',
       'Action|Adventure|Animation|Children|Fantasy|Sci-Fi',
       'Action|Adventure|Sci-Fi|Thriller|IMAX',
       'Action|Drama|Horror|Sci-Fi|Thriller', 'Drama|War|Western',
       'Comedy|Crime|Mystery|Romance', 'Comedy|War|Western',
       'Action|Adventure|Comedy|Crime|Thriller', 'Action|Fantasy|Sci-Fi',
       'Action|Comedy|Thriller', 'Adventure|Comedy|Crime|Thriller',
       'Comedy|Fantasy|Mystery', 'Animation|Drama|Romance',
       'Adventure|Musical', 'Action|Fantasy|Horror',
       'Fantasy|Horror|Sci-Fi|Thriller', 'Comedy|Musical|Romance|Western',
       'Drama|Fantasy|Sci-Fi', 'Children|Comedy|Crime|Musical',
       'Film-Noir|Horror|Thriller', 'Action|Adventure|Animation|Fantasy',
       'Crime|Documentary', 'Comedy|Drama|Musical|Mystery',
       'Adventure|Comedy|Drama|Fantasy|Mystery|Sci-Fi|Thriller',
       'Adventure|Thriller|Western', 'Comedy|Crime|Drama|Mystery|Romance',
       'Action|Crime|Fantasy|Sci-Fi|Thriller', 'Crime|Fantasy|Horror',
       'Action|Adventure|Comedy|Crime|Drama',
       'Comedy|Drama|Mystery|Sci-Fi|Thriller',
       'Action|Drama|Horror|Thriller', 'Comedy|Fantasy|Horror|Thriller',
       'Action|Drama|Romance|Western',
       'Adventure|Animation|Drama|Fantasy|Sci-Fi',
       'Comedy|Crime|Drama|Film-Noir|Musical',
       'Action|Adventure|Drama|Fantasy', 'Comedy|Crime|Drama|Romance',
       'Adventure|Drama|Romance|Thriller|War',
       'Crime|Drama|Film-Noir|Romance|Thriller',
       'Action|Comedy|Crime|Drama|Horror|Thriller',
       'Action|Adventure|Children|Comedy|Mystery',
       'Animation|Children|Comedy|Musical|Western', 'Action|Drama|Horror',
       'Comedy|Crime|Drama|Mystery', 'Comedy|Fantasy|Musical|Romance',
       'Musical|Romance|Western', 'Action|Drama|Thriller|War',
       'Comedy|Crime|Drama|Musical|Mystery|Romance',
       'Adventure|Comedy|War', 'Comedy|Crime|Western',
       'Drama|Fantasy|Horror|Mystery', 'Drama|Thriller|Western',
       'Crime|Horror|Sci-Fi', 'Animation|Fantasy|Thriller',
       'Children|Comedy|Fantasy|Sci-Fi',
       'Action|Adventure|Animation|Comedy|Crime|Mystery',
       'Adventure|Animation|Children|Comedy|Musical|Romance',
       'Action|Adventure|Drama|Sci-Fi|Thriller', 'Adventure|Fantasy|IMAX',
       'Action|Crime|Horror|Mystery|Thriller', 'Comedy|Fantasy|Thriller',
       'Action|Adventure|Drama|Romance|War', 'Comedy|Documentary|Drama',
       'Crime|Drama|Film-Noir|Romance', 'Crime|Drama|Horror',
       'Adventure|Comedy|Fantasy|Musical', 'Adventure|Animation|Drama',

In [7]:
len(movies.genres.unique())

902

In [8]:
ratings = pd.read_csv('./data/ratings.csv')

In [9]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [10]:
ratings.shape

(100004, 4)

In [11]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
userId       100004 non-null int64
movieId      100004 non-null int64
rating       100004 non-null float64
timestamp    100004 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [12]:
unique_rated_movies = ratings.movieId.unique()

In [13]:
type(unique_rated_movies)

numpy.ndarray

In [14]:
len(unique_rated_movies)

9066

In [15]:
tags = pd.read_csv('./data/tags.csv')

In [16]:
tags.shape

(1296, 4)

In [17]:
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [18]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 4 columns):
userId       1296 non-null int64
movieId      1296 non-null int64
tag          1296 non-null object
timestamp    1296 non-null int64
dtypes: int64(3), object(1)
memory usage: 40.6+ KB

In [19]:
links = pd.read_csv('./data/links.csv')

In [20]:
links.shape

(9125, 3)

In [21]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [22]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
imdbId     9125 non-null int64
tmdbId     9112 non-null float64
dtypes: float64(1), int64(2)
memory usage: 213.9 KB

In [23]:
user_ratings = pd.pivot_table(ratings, index='movieId', columns='userId', values='rating')

In [24]:
user_ratings.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0,NaN,...,NaN,4.0,3.5,NaN,NaN,NaN,NaN,NaN,4.0,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
rating_665 = user_ratings[665]

In [26]:
rating_665.head()

movieId
1    NaN
2    3.0
3    3.0
4    NaN
5    3.0
Name: 665, dtype: float64

In [27]:
corr_665 = user_ratings.corrwith(rating_665)

/Users/lakshmi/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/lakshmi/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

In [28]:
corr_665 = corr_665.sort_values(ascending=False)

In [29]:
corr_665.head()

userId
272    1.0
665    1.0
158    1.0
540    1.0
135    1.0
dtype: float64

In [30]:
corr_665.sort_values(ascending=True).head()

userId
482   -1.000000
403   -1.000000
331   -1.000000
301   -1.000000
490   -0.891902
dtype: float64

In [31]:
user_ratings[[665,272]].dropna()

userId   665  272
movieId
260      4.0  4.0
3793     4.0  4.0
4367     4.0  4.0
4993     5.0  5.0

In [32]:
# User ratings for movies not rated by user 665
movies_unrated = ratings[rating_665[ratings.movieId].isnull().values]
movies_unrated = movies_unrated.drop(['timestamp'],axis=1)
movies_unrated.head()

   userId  movieId  rating
0       1       31     2.5
3       1     1129     2.0
4       1     1172     4.0
5       1     1263     2.0
6       1     1287     2.0

In [33]:
movies_unrated['correlation'] = movies_unrated['userId'].map(corr_665.get)

In [34]:
movies_unrated.head()

   userId  movieId  rating  correlation
0       1       31     2.5     0.132453
3       1     1129     2.0     0.132453
4       1     1172     4.0     0.132453
5       1     1263     2.0     0.132453
6       1     1287     2.0     0.132453

In [35]:
movies_unrated['corr_rating'] = movies_unrated['rating'] * movies_unrated['correlation']

In [36]:
movies_unrated.head()

   userId  movieId  rating  correlation  corr_rating
0       1       31     2.5     0.132453     0.331133
3       1     1129     2.0     0.132453     0.264906
4       1     1172     4.0     0.132453     0.529813
5       1     1263     2.0     0.132453     0.264906
6       1     1287     2.0     0.132453     0.264906

In [37]:
recommendation = movies_unrated.groupby('movieId').apply(lambda r: r.corr_rating.sum()/r.corr_rating.count())

/Users/lakshmi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [38]:
recommendation2 = movies_unrated.groupby('movieId').apply(lambda r: r.corr_rating.sum()/r.correlation.sum() if r.correlation.sum() != 0 else 0)

In [39]:
recommendation2.sort_values(ascending=False).head()

movieId
101741    718.544778
4658      449.760716
2715       79.155585
3992       63.364478
5841       53.697547
dtype: float64

In [40]:
user_ratings.loc[101741,:].dropna()

userId
378    4.5
380    3.5
Name: 101741, dtype: float64

In [41]:
user_ratings.loc[:,[378,665]].dropna()

userId   378  665
movieId
296      4.5  4.0
318      4.0  5.0
527      4.0  5.0
551      4.0  2.0
902      3.5  3.0
1073     3.0  5.0
1206     4.0  3.0
1258     4.0  3.0
1265     3.0  2.0
1285     3.5  4.0
1884     3.5  3.0
2291     4.0  3.0
2502     3.0  3.0
2858     3.5  3.0
2918     3.5  5.0
2959     4.5  5.0
3408     3.0  4.0
3793     0.5  4.0
3949     4.0  3.0
4011     4.0  2.0
4022     3.0  4.0
4226     4.5  4.0
4306     0.5  5.0
5991     3.0  4.0

In [42]:
recommendation.sort_values(ascending=False).head()

movieId
7002     4.008777
26701    3.395182
70344    3.301348
69529    3.044968
50703    2.969970
dtype: float64

In [43]:
recommendation.sort_values(ascending=True).head()

movieId
2650   -5.0
2649   -5.0
2647   -5.0
2636   -5.0
2637   -4.0
dtype: float64

In [44]:
user_ratings.loc[7002,:].dropna()

userId
186    4.5
Name: 7002, dtype: float64

In [45]:
user_ratings.loc[:,[186,665]].dropna()

userId   186  665
movieId
2571     5.0  5.0
2959     4.5  5.0
3578     4.0  5.0
3617     1.0  2.0
3996     3.5  4.0
4226     5.0  4.0
4238     2.5  3.0
4306     4.0  5.0
4639     1.5  3.0
4993     5.0  5.0
5952     4.5  5.0

In [46]:
user_ratings.loc[2650,:].dropna()

userId
482    5.0
Name: 2650, dtype: float64

In [47]:
user_ratings.loc[:,[482,665]].dropna()

userId   482  665
movieId
32       4.0  4.0
1210     4.0  4.0
1258     5.0  3.0
1721     5.0  3.0
2617     4.0  4.0